<header>
  <div class="logo">
      <img src="assets/images/GranLogo.png" alt="Logo Gran Romano">
      <p>"Com carinho, da nossa família para a sua..."</p>
  </div>
  <nav>
      <ul>
          <li><a href="#about">Sobre a Empresa</a></li>
          <li><a href="#catalog">Catálogo de Produtos</a></li>
          <li><a href="#social">Redes Sociais</a></li>
          <li><a href="#contact">Contato</a></li>
          <li><a href="#fale-conosco">Fale Conosco</a></li>
          <li><a href="#sac">SAC</a></li>
      </ul>
      <div class="mobile-menu">
          <button id="mobile-menu-button">
              <i class="fas fa-bars"></i>
          </button>
          <ul id="mobile-menu-list" class="mobile-menu-list">
              <li><a href="#about">Sobre a Empresa</a></li>
              <li><a href="#catalog">Catálogo de Produtos</a></li>
              <li><a href="#social">Redes Sociais</a></li>
              <li><a href="#contact">Contato</a></li>
              <li><a href="#fale-conosco">Fale Conosco</a></li>
              <li><a href="#sac">SAC</a></li>
          </ul>
      </div>
  </nav>
</header>
