<header>
  <div class="logo">
    <a routerLink="/">
      <img src="assets/images/GranLogo.png" alt="Logo Gran Romano" />
    </a>
    <p>"Com carinho, da nossa família para a sua..."</p>
  </div>
  <nav>
    <ul>
      <li><a (click)="scrollToSection('about')">Sobre a Empresa</a></li>
      <li><a routerLink="/catalog-page">Catálogo de Produtos</a></li>
      <li><a (click)="scrollToSection('social')">Redes Sociais</a></li>
      <li><a routerLink="/fale-conosco-page">Fale Conosco</a></li>
    </ul>
    <div class="mobile-menu">
      <button id="mobile-menu-button">
        <i class="fas fa-bars"></i>
      </button>
      <ul id="mobile-menu-list" class="mobile-menu-list">
        <li><a routerLink="/about">Sobre a Empresa</a></li>
        <li><a routerLink="/catalog-page">Catálogo de Produtos</a></li>
        <li><a routerLink="/social">Redes Sociais</a></li>
        <li><a routerLink="/fale-conosco-page">Fale Conosco</a></li>
      </ul>
    </div>
  </nav>
</header>
