header {
  background: var(--cor1);
  color: #fff;
  text-align: center;
}

header .logo img {
  max-width: 200px;
  max-height: 250px;
}

header div p{
  margin-bottom: 1rem;
  font-size: 1rem;
}

header nav {
  background-color: var(--cor2);
  padding: 1rem;
  font-weight: bold;
  border: none;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

header nav ul li {
  margin: 0 1.5rem;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

header nav ul li:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

header .mobile-menu {
  display: none;
}

header .mobile-menu button {
  background: none;
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

header .mobile-menu-list {
  display: none;
  flex-direction: column;
  align-items: center;
}

header .mobile-menu-list li {
  margin: 0.5rem 0;
}

header .mobile-menu-list li a {
  color: white;
}

header .mobile-menu-list li a:hover {
  text-decoration: none;
  font-size: 1.1rem;
}
