#sac {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
  height: 50vh;
  box-sizing: border-box;
}

#sac h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

#sac p {
  font-size: 1.5rem;
}

@media (max-width: 1280px){
  #sac{
    height: auto;
  }

  #sac p{
    font-size: 1.2rem;
  }
}
