#social {
  padding: 2rem;
  text-align: center;
}

#social h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

#social p {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

#social ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

#social ul li {
  margin: 0 1rem;
}

#social ul li a {
  color: var(--cor1);
  font-size: 3rem;
}

#social ul li a:hover{
  color: var(--cor2);
}

#social ul li:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}
