<section id="social">
  <h2>Siga-nos nas Redes Sociais</h2>
  <p>Procurando as informações mais recentes da empresa e atualizações oportunas? <br> Siga-nos nas redes sociais:</p>
  <ul>
      <li><a href="https://www.linkedin.com/company/gran-romano-com.-produtos-alimenticios/about/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
      <li><a href="https://www.instagram.com/gran_romano/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
      <li><a href="https://www.facebook.com/granromanopagina/" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
  </ul>
</section>
