<section id="about">
  <main>
    <article>
      <h1>SOBRE A GRAN ROMANO</h1>
      <p>
        A Marca entrou no mercado, a fim de proporcionar aos seus consumidores a possibilidade de degustar e conhecer novos produtos com qualidade, preço e inovação.
      </p>
      <p>
        Nossa meta, é fazer com que o momento tão especial e importante da refeição da sua família seja agradável e satisfatória.
      </p>
      <p>
        A Gran Romano, está nas melhores Redes de Supermercados, Distribuidoras e Grandes Redes de Atacadistas, nossa marca está disponível em produtos dos segmentos de queijo ralado, azeitonas, cebolinha, champignon e Linha Institucional.
      </p>
      <p>
        Gran Romano, é a extensão da sua família!
      </p>

      <h2>Missão</h2>
      <p>
        Fazer a diferença! Ser o melhor produto em qualquer lugar e que proporcione um momento tão especial e importante, nas refeições de seus clientes.
      </p>

      <h2>Visão</h2>
      <p>
        Expandir sua participação no mercado nacional, se tornando a principal referência de qualidade e de atendimento satisfatório, incorporado a expansão da marca.
      </p>
    </article>
  </main>
</section>
