<section id="about">
  <main>
      <article>
          <h1>Sobre a Gran Romano</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem facere qui laudantium dignissimos corrupti temporibus pariatur voluptas dolorum atque. At minus reiciendis quia, numquam magnam dolores quasi mollitia. Doloremque, dolor. <br>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, ea ipsum nisi, quia praesentium minus quis sint rem voluptatibus incidunt esse. Ab aliquid minus officia odio eos ratione doloremque laudantium?
          </p>
      </article>
  </main>
  <aside>
      <img src="assets/images/TortaAzeitona.png" alt="Imagem de Torta de Azeitona">
  </aside>
</section>
