#about {
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}

#about main {
  flex: 1;
}

#about aside {
  flex: 0 0 auto;
}

#about img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

#about h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  text-align: center;
}

#about p{
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  #about {
    flex-direction: column;
    align-items: center;
  }

  #about main article {
    text-align: center;
  }

  #about aside {
    display: none;
  }

  #about h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
}
