<!-- app.component.html -->
<app-header></app-header>

<!-- Contêiner principal que usa Flexbox -->
<div class="main-container">
  <!-- Condição para mostrar o conteúdo principal -->
  <ng-container *ngIf="!isCatalogPage">
    <app-about></app-about>
    <app-catalog></app-catalog>
    <app-social></app-social>
    <app-contact></app-contact>
    <app-fale-conosco></app-fale-conosco>
    <app-sac></app-sac>
  </ng-container>

  <!-- Exibe o conteúdo da rota -->
  <router-outlet *ngIf="isCatalogPage"></router-outlet>
</div>

<!-- Rodapé -->
<app-footer></app-footer>
