<section id="fale-conosco">
  <div class="container">
    <h1>Fale conosco</h1>
    <p>Dúvidas, críticas ou sugestões?</p>
    <div class="form-container">
      <form>
        <div class="form-group">
          <input type="text" placeholder="Nome Completo">
        </div>
        <div class="form-group">
          <input type="email" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="text" placeholder="(11) 96123-4567">
        </div>
        <div class="form-group">
          <textarea placeholder="Mensagem"></textarea>
        </div>
        <button type="submit">Enviar</button>
      </form>
    </div>
    <div class="contact-options">
      <div class="contact-option">
        <a href="https://api.whatsapp.com/send?phone=5511987654321" target="_blank">
          <i class="fa-brands fa-whatsapp"></i>
          <p>Fale Conosco<br>(11) 3569-1665</p>
        </a>
      </div>
      <div class="contact-option">
        <a href="mailto:contato@stockdistribuidora.com.br">
          <i class="fa-solid fa-envelope"></i>
          <p>Escreva para nós<br>contatostockdistribuidora.com.br</p>
        </a>
      </div>
    </div>
    <div class="location">
      <h2>Localização</h2>
      <p>Rua Américo Brasiliense, 1923 – 4º Andar<br>Chácara Sto Antônio - São Paulo/SP</p>
      <div id="map"></div>
    </div>
  </div>
</section>
