<section id="fale-conosco">
  <div class="container">
    <h1>Fale conosco</h1>
    <p>Dúvidas, críticas ou sugestões?</p>
    <div class="form-container">
      <form action="https://formsubmit.co/your@email.com" method="POST">
        <div class="form-group">
          <input type="text" name="nome" placeholder="Nome Completo" required>
        </div>
        <div class="form-group">
          <input type="email" name="email" placeholder="Email" required>
        </div>
        <div class="form-group">
          <input type="text" placeholder="Telefone" required>
        </div>
        <div class="form-group">
          <textarea name="mensagem" placeholder="Mensagem" required></textarea>
        </div>
        <button type="submit">Enviar</button>
      </form>
    </div>
    <div class="contact-options">
      <div class="contact-option">
        <a href="https://wa.me/5511959290657" target="_blank">
          <i class="fa-brands fa-whatsapp"></i>
          <p>Fale Conosco <br>(11) 95929-0657 <br>(11) 3569-1665</p>
        </a>
      </div>
      <div class="contact-option">
        <a href="mailto:sac@granromano.com.br">
          <i class="fa-solid fa-envelope"></i>
          <p>Escreva para nós<br>{{email}}</p>
        </a>
      </div>
    </div>
    <div class="location">
      <h2>Localização</h2>
      <p>Estrada Vicinal As Margens Da Es 357, nº S/N<br>Baunilha, Colatina - ES, 29715-000</p>
      <div id="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15040.860616001115!2d-40.4935205!3d-19.5323744!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb7afade2429b29%3A0x78d370b1f90cc9f0!2sGran%20Romano%20Com%C3%A9rcio%20de%20Produtos%20Aliment%C3%ADcios!5e0!3m2!1spt-BR!2sbr!4v1723086037600!5m2!1spt-BR!2sbr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>
