<div class="catalog-page-container">
  <h2>Catálogo de Produtos</h2>

  <div class="filter-toggle-container">
    <button class="filter-toggle" (click)="toggleFilter()">Filtrar</button>
  </div>

  <div class="filter-buttons" [ngClass]="{'show-filters': showFilters}">
    <button (click)="onWeightChange('1kg')">Linha 1kg</button>
    <button (click)="onWeightChange('50g')">Linha 50g</button>
    <button (click)="onWeightChange('80g')">Linha 80g</button>
    <button (click)="onWeightChange('baldes')">Linha Balde</button>
    <button (click)="onWeightChange('gourmet')">Linha Gourmet</button>
    <button (click)="onWeightChange('sachet')">Linha Sachet</button>
    <button (click)="onWeightChange('vidro')">Linha Vidro</button>
  </div>

  <div class="product-list">
    <div class="product" *ngFor="let product of filteredProducts">
      <img [src]="product.image" alt="{{product.name}}">
      <h4>{{product.name}}</h4>
    </div>
  </div>
</div>
